.square {
  height: 20px;
  width: 30px;
  background-color: red;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;

}

.one {
  color: blue;
}

.two {
  color: white;
}

.three {
    color: blue;
}

.four {
    color: blue;
}

.five {
    color: blue;
}
