/*------ Custom CSS Variables -------*/

/*------Import Google Fonts ------------*/
@import url("https://fonts.googleapis.com/css?family=Product+Sans:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");

:root {
  --red: #f78888;
  --yellow: #f3d250;
  --white: #ececec;
  --lightBlue: #90ccf4;
  --blue: #5da2d5;

  --black: #000000;
  --pink: #ec576b;
  --aqua: #4ec5c1;
  --lime: #e5e338;

  --c: #43c0f6;
  --m: #f81b84;
  --y: #f5ce28;
  --k: #000000;
  --beige: #f2eee2;
}
/*------RESET------------*/

html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
object,
embed {
  max-width: 100%;
}

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

pre {
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: bottom;
}
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}
.ie6 input {
  vertical-align: text-bottom;
}

select,
input,
textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td,
td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights https://gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type="button"],
input[type="submit"],
input[type="file"],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button,
input,
select,
textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type="button"] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* let's clear some floats */
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}

/* from create react app */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:focus {
  text-decoration: none;
}

/* ------------ GENERAL --------------- 

body {
	font: 100% "Product Sans", sans-serif;
	color:black;
	background-color:white;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga' on;
	-moz-font-feature-settings: "liga" on;
	line-height: 1;
  }

  h2, h3 {
	font-size: 120px;
	line-height: 150px;
	font-weight: 700;
	margin-bottom: 75px;
	margin-left: -7px;
  }
  
@media screen and (max-width: 1199px) {
	h2, h3 {
	  font-size: 100px;
	  line-height: 120px;
	}
  }
  
  @media screen and (max-width: 991px) {
	h2, h3 {
	  font-size: 80px;
	  line-height: 100px;
	}
  }
  
  @media screen and (max-width: 600px) {
	h2, h3 {
	  margin-bottom: 50px;
	}
  }
  
  @media screen and (max-width: 480px) {
	h2, h3 {
	  font-size: 60px;
	  line-height: 70px;
	  margin-left: -2px;
	}
  }
  
  @media screen and (max-width: 380px) {
	h2, h3 {
	  font-size: 50px;
	  line-height: 60px;
	}
  }
  
  h4 {
	font-size: 40px;
	line-height: 50px;
	font-weight: 700;
	margin-bottom: 25px;
  }
 */
/* Roboto monospace? and Rubik combo?
p {
	font-family: "Inconsolata", monospace; 
	font-weight: 300;
	font-size: 18px;
	line-height: 38px;
	transition: color .4s ease;
	color: rgba(255, 255, 255, 0.8);
  }
   */
/* core classes */
/*
::-moz-selection {
	background: var(--lightBlue);
	color: white;
  }
  
  ::selection {
	background: var(--lightBlue);
	color: white;
  }
*/
/* other shortcodes */
/* 
.z-index {
	position: relative;
	z-index: 10 !important;
  }

  .img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
  }
  
  
.img-full {
	display: block;
	width: 100%;
	height: auto;
  }
  
  .not-visible {
	visibility: hidden;
	max-height: 0px;
  }
  
  .visible {
	visibility: visible;
	max-height: auto;
  }
  
  .no-scroll {
	overflow: hidden;
  }
  */
/*-------ANIMATIONS ----------*/
